@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  padding: 80px 60px 50px 60px;
  max-width: 1036px;
  margin: 50px auto;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #EDF0F9;
}
